body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    height: 90vh;
    gap: 20px;
}

.output_cam, .output_code {
    text-align: center;
}

#buttons_control {
    text-align: center; /* centraliza os botões */
    margin-top: 10px;
}

button {
    margin: 5px;
    padding: 10px 20px;
    font-size: 16px;
}


#output {  
    color: #0f0;
    padding: 20px;
    border: 2px solid #333;
    font-family: monospace;
    width: 550px;
    height: 280px;
    white-space: pre-wrap;      /*quebras de linha */
    margin: 0 auto;             /* centraliza horizontalmente */
    text-align: left;
}

/*Parametros*/
#params_values h5 {
    text-align: center;
    width: 100%;        
    margin: 5px 0 10px;
    font-weight: bold;
    font-size: 15px;
}

#params_values {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* alinha à esquerda */
    gap: 5px;
    height: 480px;
    width: 550px; /* só ocupa o necessário */
    border: 2px solid #333;
    white-space: pre;
}

.param-control {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.param-control label {
    font-weight: bold;
    margin-bottom: 2px;
    margin-left: 5px;
    width: 160px;
}

.param-control input[type="range"] {
    width: 100%;
    margin-bottom: 5px;
    max-width: 300px;
}

.param-control span {
    font-size: 10px;
    color: #333;
    width: 40px; 
    font-weight: bold;
    font-size: 10px;
}

/*Parametros do sistema*/
#system-status {
    border: 2px solid #333; 
    padding: 10px 20px;
    width: 550px;
    text-align: left;
    font-family: monospace;
    color: #111;
}

#run_robot{
    background-color: green;
    color: white;
    border-radius: 5px;
}


#stop_robot{
    background-color: red;
    color: white;
    border-radius: 5px;
}

#system-status p {
    margin: 5px 0;
    font-size: 14px;
    font-weight: bold;
}

/* Estilo para o container principal */
#outputs {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 10px;
}

/* Cada seção ocupa 1/3 do espaço */
.param-container,
.output_cam,
.output_code {
    flex: 1;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
